{% extends 'base.html' %}

{% block start %}

<div id="signup">
  <form action="" method="POST">
  {% csrf_token %}
    <h3 id="heading">Please Sign Up</h3>
    <br>  
    <input type="email" class="input-control" placeholder="please enter email" name="email">
    <br>
    <input type="password" class="input-control" placeholder="please enter password" name="password">
    <br>
    <input type="password" class="input-control" placeholder="please enter password again" name="password2">
    <br>
    <button class="btn btn-primary">Sign Up</button>
  </form>


</div>
{% endblock %}